/* Main */
section{
    grid-area: section;
    p{
        display: flex;
        font-size: 30px;
        font-family: $indie;
    }
}

table{
    grid-area: table;
    display:flex;
    width: 100%;
    background-image: linear-gradient(to right, rgb(107, 107, 107), rgb(43, 43, 43));
}

tr{
    display: flex;
}

td{
    display: flex;
    color: seashell;
    width: 50%;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

td img:hover{
    transform: scale(110%,110%);
}

.radio{
    color: seashell;
}

label{
    color: $wsmoke;
}

tbody{
    justify-content: center;
    padding-right: 0;
}

.row{
    padding-right: 0;
}

.carousel{
    display: flex;
    height: 400px;
    width: 400px;
    h5{
        font-size: 30px;
        color: black;
    }
}

.carrusels{
    display: flex;
    justify-content: space-evenly;
    flex-flow: wrap;
}

@media screen and (max-width: 780px){
    section p{
        font-size: 20px;
    }
}